@media (max-width: 950px) {
    .container{
        padding-top: 60%;
    }
    .lsit-block-text{
        flex-direction: column;
    }
    .location-date img{
        margin-left: 0;
        margin-top: 25px;
    }
    .lsit-block ul li div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 550px) {
    .container{
        padding-top: 80%;
    }
    .lsit-block-text p{
        flex-direction: column;
    }
    .lsit-block-text p img {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
@media (max-width: 320px) {
    .container{
        padding-top: 90%;
    }
    .countdown-timer-class{
        flex-direction: column;
    }
    .content{
        font-size: 15px;
    }
}